doctype html
html
	head
		meta(charset="UTF-8")
		title="Host Control"
		link(href="../css/bootstrap.min.css" rel="stylesheet")
		link(href="../css/host_control.css")
		script(src="../js/jquery.min.js")
		script(src="../js/angular.min.js")
		script(src="../js/bootstrap.min.js")
	body
		nav(class="navbar navbar-default navbar-fixed-top")
			div(class="container-fluid")

			div(class="collapse navbar-collapse")
				ul(class="nav navbar-nav")
					li
						a(alt="Generate new party code") Party Code
					li
						a Ban List
					li
						a(alt="Change the host password") Password 
				ul(class="collapse navbar-right")
					li
						a Power
						a Playlists

						