doctype html
html
	head
		meta(charset="UTF-8")
		title="Host Login"
		link(href="../css/bootstrap.min.css" rel="stylesheet")
		link(href="../css/host.css" rel="stylesheet")
		script(src="../js/jquery.min.js")
		script(src="../js/jquery.cookie.js")
		script(src="../js/bootstrap.min.js")
		script(src="../js/host_login.js")
		script(type="text/javascript").
			var hostError = #{hostError};
	body
		div(id="login-form" class="vertical-center")
			div(class="container")
				div(id="errorpane" class="hide")
					div(class="panel panel-danger")
						div(class="panel-heading") Error
						div(class="panel-body")
							span(id="error_msg")
				div(class="container")
					button(class="control-button btn btn-default" id="loginbtn" onclick="login()") 
						object(type="image/svg+xml" data="../image/spotifytest.svg" id="spotifysvg")
						|   Login